.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-text-color);
}
.logo__header-line {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-dark {
  color: var(--primary-title-color);
}
//Лого в футере

.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.logo-light {
  color: var(--primary-white-color);
}
