.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

p,
h3,
ul {
  margin: 0px;
  padding: 0px;
}

.section {
  padding: 94px 0px;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
